<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/src/app/components/eventos/bootstrap.min.css">
    <link rel="stylesheet" href="/src/app/components/eventos/styles.css">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600" rel="stylesheet">

    <!-- Ionic icons-->
    <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">

</head>

<body>


    <section id="team" class="bgLightGrey">
        <div class="container">
            <div class="content-center">
                <h2>UNIVERSIDAD POLITÉCNICA SALSIANA</h2>
                <p>Estudiantes de la carrera de Ingeniería en Ciencas de la Computación</p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="member-container">
                        <div class="member-details">
                            <h5>Adriano Jonathan</h5>
                            <span>Creative director</span>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#"><img src="assets/images/instagram.svg"
                                            class="img-fluid"></a>
                                </li>
                                <li class="list-inline-item"><a href="#"><img src="assets/images/twitter.svg"
                                            class="img-fluid"></a></li>
                                <li class="list-inline-item"><a href="#"><img src="assets/images/youtube.svg"
                                            class="img-fluid"></a></li>
                                <li class="list-inline-item"><a href="#"><img src="assets/images/dribbble.svg"
                                            class="img-fluid"></a></li>
                                <li class="list-inline-item"><a href="#"><img src="assets/images/facebook.svg"
                                            class="img-fluid"></a></li>
                            </ul>
                        </div>
                        <img src="assets/images/adriano.jpg" class="img-fluid" alt="member 1">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="member-container text-white">
                        <div class="member-details">
                            <h5>Jimenes Kevin </h5>
                            <span>Lead designer</span>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#"><img src="assets/images/instagram.svg"
                                            class="img-fluid"></a>
                                </li>
                                <li class="list-inline-item"><a href="#"><img src="assets/images/twitter.svg"
                                            class="img-fluid"></a></li>
                                <li class="list-inline-item"><a href="#"><img src="assets/images/youtube.svg"
                                            class="img-fluid"></a></li>
                                <li class="list-inline-item"><a href="#"><img src="assets/images/dribbble.svg"
                                            class="img-fluid"></a></li>
                                <li class="list-inline-item"><a href="#"><img src="assets/images/facebook.svg"
                                            class="img-fluid"></a></li>
                            </ul>
                        </div>
                        <img src="assets/images/kevin.jpg" class="img-fluid" alt="member 2">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="member-container">
                        <div class="member-details">
                            <h5>Ruales Marlon</h5>
                            <span>Data designer</span>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#"><img src="assets/images/instagram.svg"
                                            class="img-fluid"></a>
                                </li>
                                <li class="list-inline-item"><a href="#"><img src="assets/images/twitter.svg"
                                            class="img-fluid"></a></li>
                                <li class="list-inline-item"><a href="#"><img src="assets/images/youtube.svg"
                                            class="img-fluid"></a></li>
                                <li class="list-inline-item"><a href="#"><img src="assets/images/dribbble.svg"
                                            class="img-fluid"></a></li>
                                <li class="list-inline-item"><a href="#"><img src="assets/images/facebook.svg"
                                            class="img-fluid"></a></li>
                            </ul>
                        </div>
                        <img src="assets/images/ruales.jpg" class="img-fluid" alt="member 3">
                    </div>
                </div>

                <div align="center">
                    <div class="col-md-4">
                        <div class="member-container" align="center">
                            <div class="member-details">
                                <h5>Jhossua Vega</h5>
                                <span>Front end developer</span>
                                <ul class="list-inline">
                                    <li class="list-inline-item"><a href="#"><img src="assets/images/instagram.svg"
                                                class="img-fluid"></a>
                                    </li>
                                    <li class="list-inline-item"><a href="#"><img src="assets/images/twitter.svg"
                                                class="img-fluid"></a></li>
                                    <li class="list-inline-item"><a href="#"><img src="assets/images/youtube.svg"
                                                class="img-fluid"></a></li>
                                    <li class="list-inline-item"><a href="#"><img src="assets/images/dribbble.svg"
                                                class="img-fluid"></a></li>
                                    <li class="list-inline-item"><a href="#"><img src="assets/images/facebook.svg"
                                                class="img-fluid"></a></li>
                                </ul>
                            </div>
                            <img src="assets/images/vega.jpg    " class="img-fluid" alt="member 3">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mt-4">
                    <h3>¿Necesitas ayuda? <b>Contactanos.</b></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ea consequuntur, odit veniam
                        mollitia aliquam reiciendis dignissimos, vitae sapiente neque, cum dolorum.
                        contact@smartagency.com</p>
                </div>
                <div class="col-md-6 mt-4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="" placeholder="Apellido">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="email" class="form-control" id="" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="" placeholder="Carrera">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="number" class="form-control" id="" placeholder="whatsapp(optional)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <H1 align="center">


            <div class="btn-group" role="group" aria-label="Basic mixed styles example">

                <button type="button" class="btn btn-warning">Contactanos</button>
            </div>
        </H1>
    </section>

    <script src="/src/app/components/eventos/js/jquery.js"></script>

    <script src="/src/app/components/eventos/js/popper.min.js"></script>
    <script src="/src/app/components/eventos/js/bootstrap.min.js"></script>
</body>

</html>