<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.component.css">
</head>



<body>

    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>UNIVERSIDAD POLITECNICA SALESIANA</p>
        </blockquote>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <figcaption class="blockquote-footer">
            “Ser bueno no consiste en no cometer ninguna falta, sino en saber enmendarse”. <cite
                title="Source Title">Don Bosco</cite>
        </figcaption>
    </figure>

    <div class="contenedor">
        <a>
            <figure>
                <img class="img-responsive" src="../../../assets/images/ups.jpg" height="500">
                <div class="capa">
                    <h3>AGENDA DE DE LA UPS</h3>


                    <p>NO DEJES QUE TE LA CUENTEN</p>
                    <p>ENTERATE TU MISMO</p>
                </div>
            </figure>
        </a>
    </div>
</body>


</html>