<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="eventos.component.css">



</head>

<body>


    <section id="portfolio">
        <div class="container-fluid">
            <div class="content-center">
                <h2>Evenetos UPS<b>2021</b></h2>
                <p>Eventos desarollados en lo largo del año 2021</p>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="portfolio-container">
                        <div class="portfolio-details">
                            <a href="#">
                                <h2>Revistas UPS</h2>
                            </a>
                            <a href="#">
                                <p>— El leer es aprender</p>
                            </a>
                        </div>
                        <img src="assets/images/portfolio-02.jpg" class="img-fluid" alt="Portfolio 02">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="portfolio-container">
                        <div class="portfolio-details">
                            <a href="#">
                                <h2>Ingeniería Computación</h2>
                            </a>
                            <a href="#">
                                <p>— Juega aprende y comparte</p>
                            </a>
                        </div>
                        <img src="assets/images/portfolio-04.jpg" class="img-fluid" alt="Portfolio 04" height="10">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="portfolio-container">
                        <div class="portfolio-details">
                            <a href="#">
                                <h2>Navidad IEE</h2>
                            </a>
                            <a href="#">
                                <p>— Entrega de regalos Navidad</p>
                            </a>
                        </div>
                        <img src="assets/images/portfolio-03.jpg" class="img-fluid" alt="Portfolio 03">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="portfolio-container">
                        <div class="portfolio-details">
                            <a href="#">
                                <h2>Vacunación</h2>
                            </a>
                            <a href="#">
                                <p>— Campus Giron</p>
                            </a>
                        </div>
                        <img src="assets/images/portfolio-01.jpg" class="img-fluid" alt="Portfolio 01">
                    </div>
                </div>

            </div>
            <div class="text-center mt-4">
                <p class="">Siguenos en Nuestra red social </p>
                <a href="#" class="text-dark"><b>https://www.facebook.com/UPSalesianaEc</b></a>
            </div>
        </div>
    </section>
    <script src="/src/app/components/eventos/js/jquery.js"></script>

    <script src="/src/app/components/eventos/js/popper.min.js"></script>
    <script src="/src/app/components/eventos/js/bootstrap.min.js"></script>

</body>

</html>l